body{
    display: flex;
    height: 640px;
    /* width: 700px; */
    width: 98%;
}

.playArea{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    margin-right: 400px;
    margin-left: 400px;
}

.cells{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    height: 150px;
    /* height: 2rem; */
    width: 150px;
    /* width: 9em; */
    border: 2px solid black;

}

.winner{
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    height: inherit;
    width: 98%;
    font-size: 2.5rem;
    color: white;
    flex-direction: column;         /* hogy egymás alá kerüljön */
    
}

.win{
    background-color: rgba(120,120,120,0.9);
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    /* margin: 100px; */
}

.h2{
    /* display: flex; */
    /* width: 800px; */
    justify-content: center;
    align-items: center;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 15px;
    font-size: 1.5rem;
    color: white;
    background-color: rgb(50,50,50);
}
